:root {
  --primary-color: rgb(203 219 252);
  --secondary-color: rgb(69 40 60);
  --tertiary-color: #335a48;
  --secondary-font-color: #e1e3f1;
  --primary-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: var(--primary-color);
  font-family: "Nunito", sans-serif;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secondary-color);
  text-decoration: none;
  padding: 15px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.menu ul {
  list-style: none;
  display: inline;
}

.menu ul li {
  padding: 10px 10px;
  display: inline;
}

.menu ul li a {
  color: var(--secondary-font-color);
  text-decoration: none;
}

.menu ul li:hover {
  color: var(--secondary-font-color);
}

#menu-brand {
  display: inline;
  font-size: 19px;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 10px;
  color: var(--tertiary-color);
  border-right: 1px solid white;
}

#log-out {
  position: absolute;
  right: 0;
  padding-right: 50px;
  color: var(--secondary-font-color);
  text-decoration: none;
}

#log-out:hover {
  text-decoration: underline;
}

.page-container {
  margin: 0 auto;
  padding-top: 30px;
  width: 1200px;
  min-height: 100%;
}

/* SIGN UP PAGE */

#signup-image {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.signup-intro {
  text-align: center;
  width: 600px;
  margin: 0px auto;
  padding-top: 100px;
  padding-bottom: 20px;
}

.signup-intro h1 {
  font-size: 48px;
}

.signup-intro p {
  color: black;
}

.signup-outro {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  width: 400px;
}

/* SPRITE PAGE */

.sprite-intro {
  padding-top: 100px;
}

.sprite-intro h1 {
  text-align: center;
}

.sprite-instructions {
  margin: 50px auto 30px 150px;
  font-size: 24px;
  width: 800px;
}

.sprite-container {
  background-color: transparent;
  padding: 15px;
  width: 950px;
  border-radius: 45px;
  margin: 0 auto;
  box-shadow: 2px 2px #e7e7e7, -2px 2px #e7e7e7, -2px -2px #e7e7e7,
    2px -2px #e7e7e7, -3px -2px #96a3bd, -2px 3px #96a3bd, 3px -2px #96a3bd,
    3px 2px #96a3be, rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px,
    rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}

.sprite-container .row {
  width: 900px;
  margin: 25px 0 25px 0;
}

#sprite-preview {
  height: 384px;
  width: 384px;
  margin-top: 20px;
  margin-left: 20px;
  border: 5px solid rgb(179 190 215);
  box-shadow: var(--primary-box-shadow);
  background-color: white;
  border-radius: 360px;
}

#sprite-preview img {
  margin-top: 17px;
}

.sprite-option-apply {
  position: absolute;
  top: 395px;
  display: none;
}

.active-option {
  display: block;
}

.inactive-option {
  display: none;
}

#sprite-selection {
  margin-left: 30px;
}

#sprite-tabs ul {
  list-style: none;
  margin: 0 0 1px 0;
  padding-left: 0px;
  padding-top: 28px;
  width: 400px;
}

#sprite-tabs ul li {
  display: inline;
  padding: 13px 26px 3px 10px;
  margin-right: 0px;
  border-radius: 10px 10px 0 0;
  font-weight: 600;
  box-shadow: 3px 0px #a1adc5;
  border-bottom: 0px solid rgb(225 227 241);
}

#sprite-tabs ul li:hover {
  cursor: pointer;
  color: var(--secondary-font-color);
  background-color: #a8b3c9;
}

.tab {
  width: 420px;
  height: 400px;
  background-color: var(--secondary-font-color);
  padding: 20px;
  box-shadow: var(--primary-box-shadow);
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 0px 45px 45px 45px;
}

.active-tab {
  background-color: var(--secondary-font-color);
  border-bottom: 2px solid var(--secondary-font-color);
}

.inactive-tab {
  background-color: rgb(206 211 223);
  color: black;
  box-shadow: rgb(0 0 0 / 1%) 0px 4px 12px;
}

.sprite-submit {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

#sprite-submit-button {
  display: block;
  text-align: left;
  width: 200px;
  text-decoration: none;
  padding: 15px 25px;
  margin-right: 20px;
  color: var(--secondary-font-color);
  background-color: var(--tertiary-color);
  border-radius: 10px;
  box-shadow: var(--primary-box-shadow);
  transition: all 300ms ease-in-out;
}

#sprite-submit-button:hover {
  text-decoration: none;
  transform: scale(1.05);
  color: var(--secondary-font-color);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--secondary-font-color);
}

::-webkit-scrollbar-button {
  height: 50px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sprite-option-img {
  width: 100px;
  background-color: white;
  border-radius: 25px;
  margin: 10px;
  transition: all 300ms ease-in-out;
}

.sprite-option-img:hover {
  cursor: pointer;
  box-shadow: var(--primary-box-shadow);
  transform: scale(1.1);
}

#tab-div-2 {
  display: none;
}
#tab-div-3 {
  display: none;
}
#tab-div-4 {
  display: none;
}

#tab-div-5 {
  display: none;
}

/* GAME PAGE */

.box {
  margin-top: 110px;
}

#rules {
  color: black;
}

#log-workout {
  padding-top: 100px;
}

#game-container {
  position: relative;
  border-radius: 45px;
  width: 700px;
  height: 500px;
  padding: 0;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#mountain-img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#sprite-mountain {
  position: absolute;
  width: 50px;
  top: 450px;
  right: 615px;
}

.navigation {
  position: relative;
  width: 75px;
  z-index: 1;
  top: 17px;
  left: 20px;
}

#navigation {
  position: absolute;
  width: 90px;
  padding: 10px 3px;
  background-color: #ffffff6b;
  border-radius: 360px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navigation a {
  position: absolute;
  color: transparent;
  font-size: 25px;
  text-decoration: none;
}

#move-left {
  top: 24px;
  left: 15px;
}

#move-right {
  top: 24px;
  left: 61px;
}

#move-down {
  left: 38.5px;
  top: 46px;
}

#move-up {
  left: 38.5px;
  top: 3px;
}

.zoom {
  position: absolute;
  font-size: 20px;
  line-height: 25px;
  top: 22px;
  left: 125px;
  z-index: 1;
}

.zoom i {
  color: #3f3f74;
}

h1 {
  color: white;
  font-weight: bold;

  margin-bottom: 25px;
}

.workout-log p {
  font-size: 24px;
}

.highlight {
  color: var(--secondary-font-color);
  background-color: var(--tertiary-color);
  padding: 1px 7px;
  box-shadow: rgb(50 50 93 / 10%) 0px 6px 12px -2px,
    rgb(0 0 0 / 10%) 0px 3px 7px -3px;
}

.button {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 200px;
  padding: 15px 25px;
  color: var(--secondary-font-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 10px auto;
  transition: all 300ms ease-in-out;
}

.button:hover {
  text-decoration: none;
  transform: scale(1.05);
  color: var(--secondary-font-color);
}

.workout-log .row {
  margin-top: 50px;
}

#rules-explained {
  position: relative;
  background-color: rgba(225 227 241);
  border-radius: 10px;
  font-size: 14px;
  margin: 0px auto;
  width: 300px;
  padding: 15px 5px 5px 5px;
}

.rules-navigation {
  padding-right: 25px;
  height: 20px;
}

.rules-navigation p {
  font-size: 18px;
  font-weight: bold;
  display: inline;
}

#rules-question {
  text-align: center;
  display: inline;
  color: white;
  font-size: 16px;
  background-color: rgb(152 177 227);
  border-radius: 90px;
  padding: 1px 8px;
}

.hide {
  display: none;
}

#rules-question:hover + .hide {
  position: relative;
  display: block;
}

.rules ul {
  padding-left: 20px;
}

.rules li::marker {
  font-size: 12px;
}

.tools {
  margin-top: 50px;
}

.tools .row {
  padding: 15px;
  background-color: var(--secondary-color);
  color: var(--secondary-font-color);
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
}

.tools .col {
  text-align: center;
  padding-top: 10px;
}

.tools a {
  text-decoration: none;
  color: white;
}

.col-one,
.col-two {
  border-right: 1.5px solid rgb(36 24 32);
}

/* Forms */

#signup-form {
  background-color: var(--secondary-color);
  width: 378px;
  padding: 30px;
  margin: 0 auto;
  color: var(--secondary-font-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#login-form {
  background-color: var(--secondary-color);
  width: 378px;
  padding: 30px;
  margin: 0 auto;
  color: var(--secondary-font-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form-popup {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  color: var(--secondary-font-color);
  background-color: rgb(94 170 135);
  border: 2px solid var(--tertiary-color);
  border-radius: 5px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

#workout-form {
  width: 400px;
  height: 350px;
  margin: 160px auto;
}

.submit-btn {
  color: var(--secondary-font-color);
  background-color: #335a48;
  border: 1px solid #335a48;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.submit-btn:hover {
  transform: scale(1.05);
}

#workout-x {
  text-decoration: none;
  position: absolute;
  left: 350px;
  top: 15px;
  color: var(--secondary-font-color);
  background-color: #335a48;
  padding: 3px 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#workout-x:hover {
  cursor: pointer;
  transform: scale(1.05);
}

input {
  margin: 10px;
  padding: 5px;
  background-color: var(--secondary-font-color);
  border-radius: 5px;
  border: 1px solid var(--secondary-font-color);
}

#email-input,
#username-input,
#password-input {
  width: 300px;
}
