:root {
  --primary-color: rgb(203 219 252);
  --secondary-color: rgb(69 40 60);
  --tertiary-color: rgb(40 139 93);
  --secondary-font-color: #e1e3f1;
  --primary-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: var(--primary-color);
  font-family: "Nunito", sans-serif;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secondary-color);
  text-decoration: none;
  padding: 15px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.menu ul {
  list-style: none;
  display: inline;
}

.menu ul li {
  padding: 10px 10px;
  display: inline;
}

.menu ul li a {
  color: var(--secondary-font-color);
  text-decoration: none;
}

.menu ul li:hover {
  color: var(--secondary-font-color);
}

#menu-brand {
  display: inline;
  font-size: 19px;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 10px;
  color: var(--tertiary-color);
  border-right: 1px solid white;
}

#log-out {
  position: absolute;
  right: 0;
  padding-right: 50px;
  color: var(--secondary-font-color);
  text-decoration: none;
}

#log-out:hover {
  text-decoration: underline;
}

.page-container {
  margin: 0 auto;
  padding-top: 30px;
  width: 1200px;
  min-height: 100%;
}

/* SIGN UP PAGE */

#signup-image {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.signup-intro {
  text-align: center;
  width: 600px;
  margin: 0px auto;
  padding-top: 100px;
  padding-bottom: 20px;
}

.signup-intro h1 {
  font-size: 48px;
}

.signup-intro p {
  color: black;
}

.signup-outro {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  width: 400px;
}

/* SPRITE PAGE */

.sprite-intro {
  padding-top: 100px;
}

.sprite-container .row {
  width: 1000px;
  margin: 0 auto;
}

#sprite-preview {
  height: 384px;
  width: 384px;
  border: 5px solid var(--secondary-color);
  background-color: white;
  border-radius: 360px;
}

#sprite-tabs ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 363px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.192);
}

#sprite-tabs ul li {
  display: inline;
  padding: 5px 30px 1px 5px;
  margin-right: -3px;
  border-right: 2px solid #99999f;
  background-color: var(--secondary-font-color);
}

.tab {
  width: 420px;
  height: 400px;
  background-color: var(--secondary-font-color);
  padding: 20px;
  box-shadow: var(--primary-box-shadow);
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 0 45px 45px 45px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--secondary-font-color);
}

::-webkit-scrollbar-button {
  height: 50px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sprite-option-img {
  width: 100px;
  background-color: white;
  border-radius: 25px;
  margin: 10px;
  box-shadow: var(--primary-box-shadow);
}
#tab-div-2 {
  display: none;
}
#tab-div-3 {
  display: none;
}
#tab-div-4 {
  display: none;
}

#tab-div-5 {
  display: none;
}

/* GAME PAGE */

.box {
  margin-top: 110px;
}

.rules-navigation {
  padding-left: 25px;
  padding-right: 25px;
}

#game-container {
  position: relative;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  width: 700px;
  height: 500px;
  padding: 0;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#game-container img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation {
  position: relative;
  width: 75px;
  z-index: 1;
  top: 104px;
  left: 20px;
}

#navigation {
  position: absolute;
  width: 90px;
  padding: 10px 3px;
  background-color: #ffffff6b;
  border-radius: 360px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navigation a {
  position: absolute;
  color: transparent;
  font-size: 25px;
  text-decoration: none;
}

#move-left {
  top: -63px;
  left: 15px;
}

#move-right {
  top: -63px;
  left: 61px;
}

#move-down {
  left: 38.5px;
  top: -39px;
}

#move-up {
  left: 38.5px;
  top: -85px;
}

.zoom {
  position: absolute;
  font-size: 20px;
  line-height: 25px;
  top: 22px;
  left: 125px;
  z-index: 1;
}

.zoom i {
  color: #3f3f74;
}

h1 {
  color: white;
  font-weight: bold;

  margin-bottom: 25px;
}

.highlight {
  color: var(--secondary-font-color);
  background-color: var(--tertiary-color);
  padding: 0 5px;
  box-shadow: rgb(50 50 93 / 10%) 0px 6px 12px -2px,
    rgb(0 0 0 / 10%) 0px 3px 7px -3px;
}

.button {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 200px;
  padding: 15px 25px;
  color: var(--secondary-font-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 10px auto;
  transition: all 300ms ease-in-out;
}

.button:hover {
  text-decoration: none;
  transform: scale(1.05);
  color: var(--secondary-font-color);
}

.workout-log .row {
  margin-top: 50px;
}

.rules {
  background-color: rgba(225 227 241);
  border-radius: 10px;
  font-size: 14px;
  padding: 15px;
}

.rules p {
  font-size: 18px;
  font-weight: bold;
}

.rules ul {
  padding-left: 20px;
}

.rules li::marker {
  font-size: 12px;
}

.tools {
  margin-top: 50px;
}

.tools .row {
  padding: 15px;
  background-color: var(--secondary-color);
  color: var(--secondary-font-color);
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
}

.tools .col {
  text-align: center;
  padding-top: 10px;
}

.tools a {
  text-decoration: none;
  color: white;
}

.col-one,
.col-two {
  border-right: 1.5px solid rgb(36 24 32);
}

/* Forms */

#signup-form {
  background-color: var(--secondary-color);
  width: 378px;
  padding: 30px;
  margin: 0 auto;
  color: var(--secondary-font-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#login-form {
  background-color: var(--secondary-color);
  width: 378px;
  padding: 30px;
  margin: 0 auto;
  color: var(--secondary-font-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#workout-form {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  margin: 160px auto;
  width: 400px;
  height: 350px;
  color: var(--secondary-font-color);
  background-color: rgb(94 170 135);
  border: 2px solid var(--tertiary-color);
  border-radius: 5px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

.submit-btn {
  color: var(--secondary-font-color);
  background-color: #335a48;
  border: 1px solid #335a48;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.submit-btn:hover {
  transform: scale(1.05);
}

#workout-x {
  text-decoration: none;
  position: absolute;
  left: 350px;
  top: 15px;
  color: var(--secondary-font-color);
  background-color: #335a48;
  padding: 3px 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#workout-x:hover {
  cursor: pointer;
  transform: scale(1.05);
}

input {
  margin: 10px;
  padding: 5px;
  background-color: var(--secondary-font-color);
  border-radius: 5px;
  border: 1px solid var(--secondary-font-color);
}

#email-input,
#username-input,
#password-input {
  width: 300px;
}
