:root {
  --primary-color: rgb(88 66 6);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #89c5ee;
  font-family: "Nunito", sans-serif;
}

.box {
  margin: 50px auto;
  width: 1200px;
}

#game-container {
  position: relative;
  background-color: #caeaff;
  border-radius: 5px;
  width: 700px;
  height: 500px;
  padding: 0;
  overflow: hidden;
}

#game-container img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.zoom {
  position: absolute;
  top: 10px;
  left: 40px;
  z-index: 1;
}

h1 {
  color: white;
  font-weight: bold;
}

.highlight {
  color: white;
  background-color: blue;
  padding: 0 5px;
}

.button {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 200px;
  padding: 15px 25px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin: 10px auto;
}

.rules {
  background-color: rgba(211, 211, 211, 0.644);
  border-radius: 10px;
  font-size: 14px;
  padding: 15px;
}

.rules p {
  font-size: 18px;
  font-weight: bold;
}

.rules ul {
  padding-left: 20px;
}

.rules li::marker {
  font-size: 12px;
}

.tools {
  margin-top: 50px;
}

.tools .row {
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
}

.tools .col {
  text-align: center;
  padding-top: 10px;
}

.tools a {
  text-decoration: none;
  color: white;
}

.col-one,
.col-two {
  border-right: 1.5px solid rgb(117 88 8);
}

/* Forms */

#workout-form {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 160px auto;
  width: 400px;
  height: 350px;
  background-color: var(--primary-color);
  padding: 30px;
  border-radius: 25px;
}

#workout-x {
  text-decoration: none;
  position: absolute;
  left: 360px;
  top: 15px;
  color: white;
  background-color: blue;
  padding: 4px 10px;
  border-radius: 50%;
}

#workout-x:hover {
  cursor: pointer;
}

input {
  margin: 10px;
  padding: 5px;
}
